body {
    background-image: url('../images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    color: hsl(210, 10%, 33%);
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-icon {
    height: 100px;
    margin-top: 100px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
}

.intro-desc {
    margin-top: -10px;
    margin-bottom: 35px;
    width: 650px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 30px;
}

.title {
    font-size: 39px;
    font-weight: 600;
}

.ios-download {
    padding: 12px 25px 12px 25px;
    background-color: hsl(171, 66%, 44%);
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 0px hsla(171, 60%, 38%, 0.979), 0px 4px 12px hsla(171, 59%, 35%, 0.542);
    margin-right: 10px;
}

.Mac-download {
    padding: 12px 25px 12px 25px;
    background-color: hsl(233, 100%, 69%);
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 2px 0px hsl(233, 55%, 56%), 0px 4px 12px hsla(233, 46%, 51%, 0.685);
    margin-right: 10px;
}

.track{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.track-title{
    margin-top:90px;
    font-size: 35px;
    font-weight: 600;
}

.track-desc{
    text-align: center;
    width:700px;
    margin-top:-5px;
    color: hsl(201, 11%, 66%);
    margin-bottom:80px;
    line-height: 30px;
}

.computer-image{
    height:600px;
    width:800px;
    float: left;
    margin-left:-50px;
    margin-right: 100px;
}

.float-class{
    padding-top:55px;
    font-size: 25px;
}

.float-title{
    font-weight: 600;
}

.caption{
    margin-top:-10px;
    margin-bottom: 50px;
    margin-right:300px;
    line-height: 30px;
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    width:82%;
}

.float{
    margin-bottom:100px;
}

.access{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.access-desc {
    margin-top:-10px;
    width: 700px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    line-height: 30px;
}

.access-title {
    margin-top:150px;
    font-size: 35px;
    font-weight: 600;
}

.access-image{
    width: 58%;
}

.workflow{
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.workflow-title{
    font-size: 35px;
    font-weight: 600;
}

.workflow-desc{
    margin-top:-10px;
    margin-bottom:70px;
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
    margin-left:270px;
    margin-right:270px;
}

.set{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-right:20px;
}

.inside-icon{
    width:8%;
}

.icon-title{
    font-size:25px;
    margin-top: 30px;
    font-weight: 600;
}

.icon-desc{

    margin-top:-5px;
    line-height: 30px;
    text-align: center;
    color: hsl(201, 11%, 66%);
    width:400px;
}